@using EntityLayer.Concrete
@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}
@{
    string gender;
    int counter = 0;
}
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Mail</th>
        <th>Cinsiyet</th>
        <th>Doğum Tarihi</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.EmployeeGender == "Erkek")
        {
            gender = "color: blue; font-weight:bold";
        }
        else
        {
            gender = "color: red; font-weight:bold";
        }
        counter++;
        <tr>
            <td>@counter</td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td>@item.EmployeeMail</td>
            <td><span style="@gender">@item.EmployeeGender</span></td>
            <td>@item.EmployeeBirth</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Employee/AddProduct/" class="btn btn-outline-primary">Yeni Çalışan Girişi</a>