@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@Html.Partial("/Views/AdminLayout/PartialHead.cshtml")
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    @Html.Partial("/Views/AdminLayout/PartialNavbar.cshtml")

    @Html.Partial("/Views/AdminLayout/PartialSideBar.cshtml")

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>
    @Html.Partial("/Views/AdminLayout/PartialFooter.cshtml")
</div>
    @Html.Partial("/Views/AdminLayout/PartialScript.cshtml")
</body>
</html>